button.autocomplete--option {
  width: 100%;
  padding: 8px 12px;
  cursor: pointer;
}

input.autocomplete--input {
  width: 96%;
  padding: 8px 12px;
}

form.autocomplete {
  position: relative;;
}

.autocomplete--option-wrapper {
  position: absolute;
  width: 100%;
}
