.component-input {
    margin: 16px 0px;
    padding: 0px 64px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.component-input fieldset {
    border: 0px;
    margin: 24px 0px;
    padding: 0px;
}

.component-input .component-input--button-list {
    display: flex;
    justify-content: space-between;
}

.component-input button {
    padding: 8px 16px;
    border-radius: 4px;
}

.component-input label {
    display: block;
}

.component-input input {
    display: block;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
    width: 96%;
}

.component-input textarea {
    display: block;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 4px;
    width: 96%;
    min-height: 3.5em;
}