.comment {
  padding: 16px;
}

.comment__noBottomPadding {
  padding-bottom: 0px;
}

.comment--header {
  display: flex;
  align-items: center;
  column-gap: 6px;
  color: darkgray;
  font-size: 0.8em;
}

.comment--profpic {
  width: 20px;
  border-radius: 100%;
}

.comment--body {
  color: white;
}

.comment--actionWrapper {
  display: flex;
  column-gap: 48px;
  color: darkgray;
}

.comment--actionWrapper--action {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.comment--actionWrapper--action--icon {
  font-size: 1.2em;
}

.comment--childrenWrapper {
  border-left: 1px solid darkgray;
}