.modal--bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 8px;
  background-color: white;
  width: 450px;
  min-height: 100px;
  padding: 16px;
}