.contactUs {
  text-align: center;
}

.contactUs--btn-cancel {
  display: inline-block;
  border: 1px solid lightgrey;
  padding: 10px;
  width: 150px;
  border-radius: 6px;
  margin-right: 16px;
}

.contactUs--btn-email {
  display: inline-block;
  border: 1px solid lightgrey;
  padding: 10px;
  width: 150px;
  border-radius: 6px;
  background-color: darkviolet;
  text-decoration: none;
  color: white;
}