.component-link {
    display: flex;
    position: relative;
    height: 50px;
    border: 2px solid rgb(142, 92, 32);
    align-items: center;
    margin: 16px 64px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    background-color: bisque;
}

.component-link .component-link--icon {
    margin: 16px;
    padding-top: 6px;
    font-size: 2em;
}

.component-link .component-link--text {
    flex-grow: 1;
    text-align: center;
}

/* .component-link .component-link--link {
    display: flex;
    align-items: center;
    align-content: center;
} */